.topFiller {
  margin-top: 5em;
}

.mainPanel {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: space-evenly;
  align-items: stretch;
}

.flexFiller {
  flex-grow: 1;
}

.centerPanel {
  flex-grow: 2;
}

.hostOptions {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
}

.clientOptions {
  margin-top: 2em;
}
