.gameInformation {
  display: flex;
  flex-direction: column;
  width: 15vw;
  max-width: 15vw;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.information p {
  margin: 0;
}
