.memberList {
  width: 15vw;
  max-width: 15vw;
}

.ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
  max-height: 75vh;
  overflow: auto;
  background-color: #363636;
  list-style: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.ul::-webkit-scrollbar {
  display: none;
}

.li {
  padding: 0.5em;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-top: 1px solid #888;
  word-wrap: break-word;
  font-weight: bold;
  color: #f5b0ef;
}

.li:last-child {
  border-bottom: 1px solid #888;
}
