.memberList {
  width: 15vw;
  max-width: 15vw;
}

.ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  background-color: #363636;
}

.li {
  padding: 0.5em;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-top: 1px solid #888;
  word-wrap: break-word;
  font-weight: bold;
  color: #f5b0ef;
}

.li:last-child {
  border-bottom: 1px solid #888;
}
