.ul {
  margin: 0;
  padding: 0 2em;
  height: 50vh;
  border: 1px solid #888;
  background-color: #363636;
  list-style: none;
}

.li {
  padding-top: 1em;
  word-wrap: break-word;
}

.li:last-child {
  padding-bottom: 1em;
}

.username {
  font-weight: bold;
  margin-right: 0.5em;
}

.userChat {
  color: #f5b0ef;
}

.serverChat {
  color: #b657ff;
}
