.messageBox {
}

.ul {
  list-style: none;
  background-color: #363636;
  padding: 0 2em;
  height: 50%;
}

.li {
  padding-top: 1em;
}

.li:last-child {
  padding-bottom: 1em;
}

.userChat {
  font-weight: bold;
  color: #f5b0ef;
}

.serverChat {
  font-weight: bold;
  color: #b657ff;
}
