/* Centers the app, sets background color and default font color */
html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: #222;
  color: #e3e2e0;
}
