.label {
  display: block;
  color: #e0ceed;
  margin-bottom: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  flex-grow: 1;
  padding: 6px;
  border: 1px solid #e0ceed;
  border-radius: 3px;
  background-color: #363636;
  color: #e0ceed;
}

.p {
  margin-top: 2px;
}
