.label {
  display: block;
  color: #e3e2e0;
  margin-bottom: 5px;
}

.input {
  display: block;
  padding: 6px;
  border: 1px solid #e3e2e0;
  border-radius: 3px;
  background-color: #363636;
  color: #e3e2e0;
}

.p {
  margin-top: 2px;
}
